{%extends "base.html" %}

{%block content%}

{% include "sidebar.html" %}


<div id="content" class="px-6 pt-6 2xl:container ">
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-2">
        <div class="md:col-span-2 lg:col-span-1">
            <div class="h-full py-8 px-6 space-y-6 rounded-xl border border-gray-200 bg-white ">
                <h1 class="text-2xl text-center pb-2 ml-2"> Translator</h1>
                <div class="flex justify-center ">
                    {%if not file_path %}
                        {% include "preview.html" %}
                    {%endif%}
                    {% if file_path %}
                    <div>
                    <img src="{{ url_for('serve_image', filename=file_path) }}" alt="Uploaded Image"></div>
                    {% endif %}

                    <!-- <label class="peer  block mx-6 font-semibold text-sm" for="source-lang">Source
                        Language:</label>
                    <input class="h-12 px-4  bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2 mx-6 "
                        placeholder="" type="text" id="source-lang" name="source_lang"
                        placeholder="Enter source language" required>
                    <br>
                    <label class="peer block mx-6 font-semibold text-sm" for="target-lang">Target
                        Language:</label>
                    <input class="h-12 px-4  bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2 mx-6 "
                        placeholder="" type="text" name="target_lang" id="target-lang" required>
                    <br>
                    <label class="peer block mx-6 font-semibold text-sm" for="translator-name">Translator
                        Name:</label>
                    <input class="h-12 px-4  bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2 mx-6 "
                        placeholder="" type="text" name="translator_name" id="translator-name" required> -->
                </div>


            </div>
        </div>
    </div>
    <!-- <script src="preview.js"></script> -->
    <script src="script.js"></script>
</div>

    {% endblock %}