{%extends "base.html" %}

{%block content%}

{% include "sidebar.html" %}


<div id="content" class="px-6 pt-6 2xl:container ">
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-2">
        <div class="md:col-span-2 lg:col-span-1">
            <div class="h-full py-8 px-6 space-y-6 rounded-xl border border-gray-200 bg-white ">
                <h1 class="text-3xl font-extrabold text-center text-blue-600 ml-2"> Step One</h1>

                {%if not filename %}
                {% include "preview.html" %}
                {%endif%}
                {% if filename %}
                <div class="flex-row justify-center ">
                    <p class="text-lg text-gray-500 pb-2">Does your picture look good? Then continue onto Step Two. If there are any issues press cancel
                        and retake a picture of your document, making sure it's as clear as possible with little to no shadows</p>
                    <img src="{{ url_for('serve_image', filename=filename) }}" alt="Uploaded Image">
                </div>

                {% endif %}
            </div>
        </div>
        {%if filename%}
        <div class="md:col-span-2 lg:col-span-1">
            <div class="h-full py-8 px-6 space-y-6 rounded-xl border border-gray-200 bg-white ">
                <h1 class="text-3xl font-extrabold text-center text-blue-600 ml-2"> Step Two</h1>
                <div class="flex-row justify-center ">
                    <form class="w-3/4 m-auto" method="POST" action="/translate">
                        <label class="peer  block mx-6 font-semibold text-sm" for="source-lang">Source
                            Language:</label>
                        <input class="h-12 px-4 w-10/12 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2 mx-6 "
                            placeholder="" type="text" id="source-lang" name="source_lang"
                            placeholder="Enter source language" required>
                        <br>
                        <label class="peer block mx-6 font-semibold text-sm" for="target-lang">Target
                            Language:</label>
                        <input class="h-12 px-4 w-10/12 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2 mx-6 "
                            placeholder="" type="text" name="target_lang" id="target-lang" required>
                        <br>
                        <label class="peer block mx-6 font-semibold text-sm" for="translator-name">Translator
                            Name:</label>
                        <input class="h-12 px-4 w-10/12 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2 mx-6 "
                            placeholder="" type="text" name="translator_name" id="translator-name" required>
                        <br>
                        <label class="peer block mx-6 font-semibold text-sm" for="translator-name">Filename:</label>
                        <input class="h-12 px-4 w-10/12 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2 mx-6 "
                            placeholder="" type="text" name="filename" id="filename" required>
                        <br>
                        <button type="submit" class="w-10/12 mx-6 mt-4 h-10 bg-blue-100 rounded  font-semibold text-gray-700">Submit</button>
                    </form>
                    <form class="m-auto w-3/4" action="/cancel">
                        <button class="bg-red-400 w-10/12 mx-6 mt-4 h-10 rounded font-semibold text-gray-700" type="submit">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
        {%endif%}
    </div>

</div>
</div>
<!-- <script src="preview.js"></script> -->
<script src="script.js"></script>
</div>

{% endblock %}